#carData {
    /* border-style: solid;
  border-color: green; */
}

#carData2 {
    /* border-style: solid;
  border-color: green; */
}

#carData3 {
  /* border-style: solid;
  border-color: green; */
  margin: 0;
  padding: 0;
}